@import '../../../assets/scss/base.scss';

.menu-bar{
    background-color: map-get($green, "green-01");
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;

    &__logo_container{
        display: flex;
        align-items: center;
        height: 88px;
        & img{
            width: 127.98px;
        }
    }
}

